<div class="container m-5">
  <div class="row row-cols-1 row-cols-md-4 g-4">
    @for(note of Data; track note){
    <div class="col">
      <div class="card text-dark bg-light mb-4 h-100">
        <div class="card-header">{{note.subject}}</div>
        <div class="card-body">
          <h5 class="card-title">{{note.subject}}</h5>
          <p class="card-text">{{note.note}}</p>
        </div>
        <div class="card-footer bg-transparent border-0">
          <button type="button" class="btn btn-primary me-3 float-end">Edit</button>
          <button type="button" (click)="deletenote($event, note.id)" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </div>
    }
  </div>
</div>